<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @ambassador.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ambassador.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ambassador.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @ambassador.phone_number %>
</p>

<p>
  <strong>Age:</strong>
  <%= @ambassador.age %>
</p>

<p>
  <strong>School:</strong>
  <%= @ambassador.school %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @ambassador.activities %>
</p>

<p>
  <strong>Organizations:</strong>
  <%= @ambassador.organizations %>
</p>

<p>
  <strong>Spread brand:</strong>
  <%= @ambassador.spread_brand %>
</p>

<p>
  <strong>Freedom meaning:</strong>
  <%= @ambassador.freedom_meaning %>
</p>

<p>
  <strong>Hear about:</strong>
  <%= @ambassador.hear_about %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ambassador.address %>
</p>

<p>
  <strong>Social media:</strong>
  <%= @ambassador.social_media %>
</p>

<p>
  <strong>Ambassador code:</strong>
  <%= @ambassador.ambassador_code %>
</p>

<%= link_to 'Edit', edit_ambassador_path(@ambassador) %> |
<%= link_to 'Back', ambassadors_path %>
